= content_for :tag_line do
  We are glad you have joined us.
          
#registration_form
  .heading
    You are registered to call at 
    %span#registered_time.hilite
      = @registration.time_slot.start_time.strftime("%I:%M %p")
  %div{:style => "clear:both"}
 
